{% extends 'base.html.twig' %}

{% block title %}
	Se connecter!
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8">
				<div class="rf-register-form">
					<form class="rg-form" method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Vous êtes connecté en tant que
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							</div>
						{% endif %}

						<h2>Merci de vous connecter</h2>
						<p>Veuillez saisir votre email ainsi que votre mot de passe.</p>
						<div class="rf-input-container mt-5">
							<label for="inputEmail">
								<i class="fa fa-user rf-icon"></i>
							</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" class="form-control rf-input-field" autocomplete="email" required autofocus>
						</div>
						<div class="rf-input-container position-relative">
							<label for="inputPassword" style="padding-top:5px">
								<i class="fa fa-key rf-icon"></i>
							</label>
							<input type="password" name="password" placeholder="Mot de passe" id="inputPassword" class="form-control rf-input-field" autocomplete="current-password" required>
							<span class="position-absolute" style="position: absolute; top: 10px; right: 10px;">

								<i class="fa fa-eye-slash" id="togglePassword" style="cursor: pointer"></i>
							</span>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<button class="btn btn-primary rf-btn" type="submit">
							Se connecter
						</button>
					</form>
				</div>
			</div>
			<div class="col-md-4 frconnect">
				<img src="{{ asset('images/home/register.png')}}" style="max-width: 100%; height: auto; margin-left: 50px; padding-top: 0px; margin-top: 10px; margin-bottom: 100px">
			</div>
		</div>
	</div>


{% endblock %}
