{% extends 'base-backend.html.twig' %}

{% block title %}Slider{% endblock %}

{% block body %}
    <h1>Slider</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slider.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ slider.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ slider.updatedAt ? slider.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ slider.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ slider.texte }}</td>
            </tr>
            <tr>
                <th>RankNumber</th>
                <td>{{ slider.rankNumber }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ slider.tag }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ slider.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_slider_index') }}">back to list</a>

    <a href="{{ path('app_admin_slider_edit', {'id': slider.id}) }}">edit</a>

    {{ include('admin_slider/_delete_form.html.twig') }}
{% endblock %}
