{% extends 'base-backend.html.twig' %}

{% block title %}Admin récapitulatif{% endblock %}

{% block body %}

<div class="container pb-2 h-">
   {# on affiche le nom de l'utilisateur connecté #}
    <h1>Page d'administration</h1>
    <p>Bonjour <i class="fs-5 text-uppercase text-success fw-bold"> {{ app.user.nom }} </i> !</p>
</div>
{# créer un container de 4 colonnes pour afficher les dernières admin news posté #}
<div class="container">
<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Nombre de news</span></div>
                        {# indiquer le nombre de news activé #}

                        <div class="text-dark fw-bold h5 mb-0"><span> {{ nbNews }} </span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-newspaper fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Nombre d'utilisateurs</span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span>{{ nbUsers }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-user fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Nombres rdv</span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span> {{ nbRdv }} </span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-warning py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Nombres de messages</span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span> {{ nbContacts }} </span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2> Statistiques </h2>
<iframe src="https://fitas.matomo.cloud/index.php?module=Widgetize&action=iframe&moduleToWidgetize=Dashboard&actionToWidgetize=index&idSite=4&period=week&date=yesterday" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="1200px"></iframe>
</div>


{% endblock %}
