{% extends 'base-backend.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<h1>Homepage contenu</h1>
<div class="d-flex justify-content-between align-items-center">

<h3 class="text-warning">Haut du site<h3>
    
<a href="{{ path('app_admin_home_new') }}" class="btn btn-success">Nouveau</a>
</div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                {# <th>Signature</th> #}
                {# <th>ImageName</th> #}
                <th>Logo</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home in homes %}
            <tr>
                <td>{{ home.id }}</td>
                <td>{{ home.titre }}</td>
                <td>{{ home.description }}</td>
                {# <td>{{ home.signature }}</td> #}
                {# <td> 
                <img src="{{ asset('images/home/' ~ home.imageName)}}" alt="" class="img-list">
                </td> #}
                <td> <img src="{{ asset('images/home/' ~ home.logoName)}}" alt="" class="img-list">
</td>
                <td>{{ home.isActive ? 'Oui' : 'Non' }}</td>
                <td>
                {% include "admin_home/_delete_form.html.twig" %}
                <a href="{{ path('app_admin_home_show', {'id': home.id}) }}" class="btn btn-dark w-100 m-1">Voir</i></a>
                <a href="{{ path('app_admin_home_edit', {'id': home.id }) }}" class="btn btn-success w-100 m-1">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
