{% extends 'base-backend.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center">

    <h1>Utilisateurs</h1>
        <a href="{{ path('app_admin_user_new') }}" class="btn btn-success">Nouveau</a>


</div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Email</th>
                <th>Roles</th>
                {# <th>Password</th> #}
                <th>Nom</th>
                <th>Prénom</th>
                {# <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Pays</th> #}
                <th>Téléphone</th>
                <th>Date de naissance</th>
                <th>Verifié?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {# <td>{{ user.id }}</td> #}
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {# <td>{{ user.password }}</td> #}
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                {# <td>{{ user.adresse }}</td>
                <td>{{ user.codePostal }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.pays }}</td> #}
                <td>{{ user.tel }}</td>
                <td>{{ user.dateDeNaissance ? user.dateDeNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                  {% include "admin_user/_delete_form.html.twig" %}
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-dark w-100 m-1" >Voir</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}"class="btn btn-success w-100 m-1">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

={% endblock %}
