{% extends 'base.html.twig' %}

{% block title %}Mes Rendez-vous{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center">

    <h1>Liste des rendez-vous</h1>
</div>
{# centrer verticalement le contenu du tableau #}

    <table class="table table-index table-striped table-responsive align-items-center mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>*Status</th>
                <th>Services</th> 
                <th>Date</th>
                {# <th>Client</th> #}
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rdv in rdvs %}
            <tr>
                <td>{{ rdv.id }}</td>
                {# si le résultat de status = en attente alors affiché en orange #}
                {% if rdv.status == 'En attente' %}
                    <td style="color: orange">{{ rdv.rdvDispo.bookAvail }}</td>
                {% else %}
                    <td style="color: green">{{ rdv.rdvDispo.bookAvail }}</td>
                {% endif %}
                <td>{{ rdv.services }}</td> 
                <td>{{ rdv.rdvDispo }}</td>
                {# <td> {{ user.nom}} </td> #}
                <td>{{ rdv.commentaire }}</td>                
                <td>
                    <a href="{{ path('app_front_rdv_show', {'id': rdv.id}) }}" class="btn btn-dark w-50 m-1">Voir</a>
                    <a href="{{ path('app_front_rdv_edit', {'id': rdv.id}) }}" class="btn btn-success w-50 m-1">Modifier</a>
                                    {% include "front_rdv/_delete_form.html.twig" %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun rendez-vous</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_front_rdv_new') }}" class="btn btn-success mb-1">Prendre un nouveau rendez-vous</a>
    {# faire une legende #}
    <div class="d-flex justify-content-between align-items-center mb-5">
        <i class="text-warning">* En attente  = si le rendez-vous est en attente de validation</i> 
        <i class="text-success">* Confirmé = si le rendez-vous est validé</i>
        <i class="text-danger">* Annulé = si le rendez-vous est annulé</i>
    </div>
    
{% endblock %}
