{% extends 'base.html.twig' %}

{% block title %}Rdv{% endblock %}

{% block body %}
    <h1>Rdv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rdv.id }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ rdv.commentaire }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ rdv.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_front_rdv_index') }}">back to list</a>

    <a href="{{ path('app_front_rdv_edit', {'id': rdv.id}) }}">edit</a>

    {{ include('front_rdv/_delete_form.html.twig') }}
{% endblock %}
