{% extends 'base-backend.html.twig' %}

{% block title %}Nos News{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center">

    <h1>Nos news</h1>

        <a href="{{ path('app_admin_news_new') }}" class="btn btn-success">Nouveau</a>

    </div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Titre</th>
                <th>Description</th>
                <th>Crée le</th>
                {# <th>UpdatedAt</th> #}
                <th>Images</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                {# <td>{{ news.id }}</td> #}
                <td>{{ news.titre }}</td>
                <td>{{ news.description|slice(0,400)|raw }}</td>
                <td>{{ news.createdAt ? news.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                {# <td>{{ news.updatedAt ? news.updatedAt|date('d-m-Y H:i:s') : '' }}</td> #}
                <td> 
                <a href="{{ asset('images/news/' ~ news.imageName)}}" data-lightbox="{{ news.imageName }}"> <img src="{{ asset('images/news/' ~ news.imageName)}}" alt="" class="img-list">
                </a>
                <td>
                {% include "admin_news/_delete_form.html.twig" %}
                    <a href="{{ path('app_admin_news_show', {'id': news.id}) }}"class="btn btn-dark w-100 m-1">Voir</i></a>
                    <a href="{{ path('app_admin_news_edit', {'id': news.id}) }}"class="btn btn-success w-100 m-1">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune news</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
