<nav class="navbar navbar-expand-md bg-body py-3">
	<div
		class="container">
		{# rajouter un lien vers l'accueil #}
		<a href="{{ path('app_home') }}" class="navbar-brand">
			<img src="{{ asset('images/home/' ~ home.logoName)}}" width="114" height="112" data-bss-hover-animate="pulse">
		</a>
		<a class="navbar-brand d-flex align-items-center" href="#"></a>
		<button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3">
			<span class="visually-hidden">Menu</span>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navcol-3">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link active fs-5 fw-semibold" href="#">SERVICES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fs-5 fw-semibold" href="#">INFOS RETRAITE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fs-5 fw-semibold" href="#">NOUS CONTACTER</a>
				</li>
			</ul>
			{% if app.user is null %}
				<a href="{{ path('app_register') }}">
					<button class="btn fw-semibold" type="button" style="">
						<i class="fa fa-user-plus "></i>&nbsp; Créer mon compte</button>

					</a>
			{% else %}
				<a href="{{ path('app_login') }}">
					<button class="btn btn-secondary" type="button">ESPACE PERSONNEL</button>
				</a>
			{% endif %}
			{% if is_granted("ROLE_ADMIN") %}
				<a href="{{ path('app_admin') }}" target="_blank">
					<button class="btn btn-success" type="button" style="margin-left: 10px;margin-right: 1px;">Administration</button>
				</a>
			{% endif %}

			{% if is_granted("ROLE_USER") %}
				<a href="{{ path('app_logout') }}">
					<button class="btn btn-warning" type="button" style="margin-left: 10px;margin-right: 24px;">Déconnexion</button>
				</a>
			{% else %}
				<a href="{{ path('app_login') }}">
					<button class="btn fw-semibold" type="button">
					<i class="fa fa-plug"></i>&nbsp; Connexion</button></a>
			{% endif %}
		</div>
	</div>
</nav>
