{% extends 'base.html.twig' %}

{% block title %}Rdv index
{% endblock %}

{% block body %}
	{# si l'url contient calcul-de-votre-retraite #}

	{% if 'calcul-de-votre-retraite' in app.request.uri %}
	{# tout centrer #}
<div class="container text-center">
		<h2>
			{{ services.titre }}
		</h2>

		<p>
			Le calcul de votre retraite est une démarche qui permet de connaitre le montant de votre retraite.
			Des erreurs peuvent être commises lors du calcul de votre retraite. 
			C'est pour cela qu'il est important de faire appel à un expert en retraite.
			Notre conseiller expert en retraite vous accompagne dans vos démarches.
			
		</p>
		<a href="{{ path('app_front_rdv_new') }}"><button class="btn btn-primary" type="button" style="background: var(--bs-warning);">Prendre rendez-vous</button> </a>
	</div>
	{% else %}
		{% if 'expertise-retraite' in app.request.uri %}

			<h2>
				{{ services.titre }}
			</h2>
			<p>
				L'expert en retraite est un professionnel qui vous accompagne dans vos démarches de retraite.
			</p>
		<a href="{{ path('app_front_rdv_new') }}"><button class="btn btn-primary" type="button" style="background: var(--bs-warning);">Prendre rendez-vous</button> </a>

		{% else %}
			{% if 'regularisation-de-carriere' in app.request.uri %}

				<h2>
					{{ services.titre }}
				</h2>
				<p>
					Nous vous aidons à régulariser votre retraite. Pour cela, nous vous accompagnons dans vos démarches.
					La régularisation de carrière est une démarche qui permet de corriger les erreurs de carrière.
					Notre expert en retraite vous accompagne dans vos démarches.
				</p>
		<a href="{{ path('app_front_rdv_new') }}"><button class="btn btn-primary" type="button" style="background: var(--bs-warning);">Prendre rendez-vous</button> </a>
			{% endif %}
		{% endif %}
	{% endif %}
	<section
		class="services">
		<!-- Étapes de prise de rendez-vous -->
		<div class="row mt-5">
			<div class="col-12">
				<h2 class="text-center pb-5">Étapes de prise de rendez-vous</h2>
			</div>
			<div class="col-md-4 text-center">

				<div class="icon2">
					<i class="fa-regular fa-calendar"></i>
				</div>
				<h4 class="title">Étape 1</h4>
				<p class="description">Prenez rendez-vous selon les disponibilités proposées.</p>

			</div>
			<div class="col-md-4 text-center">

				<div class="icon2">
					<i class="fa-solid fa-phone-volume"></i>
				</div>
				<h4 class="title">Étape 2</h4>
				<p class="description">Un conseiller expert en retraite vous contact pour confirmer la date et convenir d'un entretien téléphonique ou physique</p>

			</div>
			<div class="col-md-4 text-center">

				<div class="icon2">
					<i class="fa-regular fa-handshake"></i>
				</div>
				<h4 class="title">Étape 3</h4>
				<p class="description">Le conseiller vous rapelle ou vous accueille le jour j.</p>

			</div>
		</div>
	</section>
{% endblock %}
